<a href="https://colab.research.google.com/github/Anand1923/DSA_Assignments/blob/main/Case_Study_04_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Case Study on Testing of Hypothesis
A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.

The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
The company needs to check whether there is any dependency between the features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.

In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
#import data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Sales_add.csv')

# display data
df

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

In [4]:
# summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
#checking for ull values

df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

#1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

**Hypothesis**

Step-1: Define Hypothesis:

Null Hypothesis- H0: the average sales after digital add is less than or equal to the average sales before digital add

Alternate Hypothesis- H1: the average sales after digital add is greater than the average sales before digital add

Step-2: Set the Criteria for decision to 0.05

Step-3: Compute the random chance of probability: Use T test to validate the hypothesis

In [6]:
# assign fetures to the variables

sales_before = df['Sales_before_digital_add(in $)']
sales_after = df['Sales_After_digital_add(in $)']

In [8]:
#T -Test

tvalue, pvalue = stats.ttest_rel(sales_before,sales_after)
stats.ttest_rel(sales_before,sales_after)

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

In [9]:
# checking Hypothesis analysis
if pvalue <0.05:
    print('Reject Null Hypothesis ')
else:
    print('Reject Alternate Hypothesis')

Reject Null Hypothesis

rejecting null hyposthesis means -the average sales after digital add is greater than the average sales before digital add

#2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

**Hypothesis**

Null Hypothesis-H0: Region and Manager features are independent

Alternate Hypothesis-H1: Region and Manager features are dependent

In [10]:
# unstack - Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels
df1=df.groupby('Region')['Manager'].value_counts().unstack()
df1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
#Chi-Square Test for Independence
chivalue, pvalue, dof, expvalues = stats.chi2_contingency(df1)

In [12]:
chivalue, pvalue, dof, expvalues

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [13]:
# chi square criteria value for significance of 0.05 and DOF =4 
chicriteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [15]:
if(chivalue>chicriteria and pvalue<0.05):
    print('Reject Null Hypothesis  : Region and Manager features are independent')
else:
    print('Reject Alternate Hypothesis: Region and Manager features are dependent')

Reject Alternate Hypothesis: Region and Manager features are dependent

Clarly there is no dependency between features manager and regioin